*{
    margin: 0;
    padding: 0;
}
html{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    height: 40vh;
    width: 30vh;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5vh 5vw;
}
span{
    width: 30vw;
    text-align: start;
}